/* Course section start */
.course-category {
    padding: $py $px;

    .section-subtitle {
        text-align: center;
        margin-bottom: 15px;
    }

    .section-title {
        @include section-title;
        text-align: center;
        margin-bottom: 60px;
    }

    .course-item-group {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;

        .course-category-item {
            display: flex;
            align-items: center;
            gap: 20px;
            background: rgb(251, 251, 255);
            border: 1px solid hsl(0, 0%, 67%);
            border-radius: 8px;
            padding: 20px;
            transition: $default-transition;
            &:hover {
                background: $red-orang;
                border-color: $red-orang;
                box-shadow: 0 10px 50px -20px $red-orang;
            }

            &:hover .category-title a {
                color: $white;
            }

            &:hover .category-subtitle {
                color: $white !important;
            }

            .course-category-content {
                .category-subtitle {
                    font-family: 'Roboto', sans-serif;
                    color: $sonic-silver;
                    font-size: $fs-6;
                }
            }
            .category-title {

                a {
                    color: $oxford-blue;
                    font-size: $fs-4;
                    font-weight: $fw-7;
                }
            }
            .category-icon {
                width: 50px;
            }
        }
    }
    .category-icon.hover, .course-category-item:hover .category-icon.default {
        display: none;
    }
    .category-icon.default, .course-category-item:hover .category-icon.category-icon.hover {
        display: block;
    }
}

/* Course section end */