/* Footer area start */
footer {
    background: $oxford-blue;

    .footer-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        padding: 220px $px 80px;
        .grid-item {

            img {
                margin-bottom: 25px;
            }

            .footer-text {
                font-family: 'Roboto', sans-serif;
                font-size: $fs-6;
                color: $lavender-blue;
                margin-bottom: 35px;
                line-height: 1.6;
            }

            .social-link {
                display: flex;
                align-items: center;
                gap: 20px;

                a {
                    background-color: hsla(0, 0%, 100%, 0.1);
                    width: 45px;
                    height: 45px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4px;
                    transition: $default-transition;
                    &:hover  {
                        background: $red-orang;
                    }

                    ion-icon {
                        font-size: 20px;
                        color: $white;
                    }
                }

            }

            .list-item {
                margin-bottom: 10px;

                a {
                    display: inline-block;
                    font-family: 'Roboto', sans-serif;
                    color: $lavender-blue;
                    font-size: $fs-6;
                    transition: $default-transition;
                    &:hover {
                        transform: translateX(10px);
                        color: $red-orang;
                    }
                }
            }

            .wrapper {
                position: relative;
                border-radius: 8px;
                overflow: hidden;

                input {
                    width: 100%;
                    padding: 20px 30px;
                    padding-right: 70px;
                    color: $oxford-blue;
                    font-family: 'Roboto', sans-serif;
                    font-size: $fs-6;
                    border: none;
                    outline: none;
                }
            }

            .send-btn {
                position: absolute;
                top: 0;
                right: 0;
                width: 62px;
                height: 62px;
                background: $red-orang;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: $default-transition;
                &:hover {
                    background: $ultra-blue;
                }

                ion-icon {
                    font-size: 25px;
                    color: $white;
                }
            }
        }

         

            .item-heading {
                font-size: $fs-4;
                color: $white;
                margin-bottom: 20px;
            }

            li {}
        
    }

    .copyright {
        background: hsl(231, 90%, 8%);
        text-align: center;
        color: $lavender-blue;
        font-size: $fs-6;
        font-family: 'Roboto', sans-serif;
        padding: 15px $px;
        line-height: 1.7;

        a {
            display: inline-block;
            color: $red-orang;
            transition: $default-transition;
            &:hover {
                color: $ultra-blue;
            }
        }
    }
}
/* Footer area end */