/* Hero section header start */
.home {
    position: relative;
    margin-top: 70px;
    padding: $py $px 0;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        top: -200px;
        left: -400px;
        width: 800px;
        height: 800px;
        border-radius: 50%;
        background: radial-gradient(ellipse at center, hsla(217, 100%, 55%, 0.3), transparent 70%);
    }

    &::after {
        content: '';
        position: absolute;
        top: 100px;
        right: -400px;
        width: 800px;
        height: 800px;
        border-radius: 50%;
        background: radial-gradient(ellipse at center, hsla(15, 100%, 55%, 0.3), transparent 70%);
    }

    .main-heading {
        color: $oxford-blue;
        font-size: $fs-1;
        font-weight: $fw-9;
        line-height: 1.2;
        margin-bottom: 40px;
        text-align: center;
    }

    .underline-img {
        display: inline-block;
        position: relative;
        img {
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
        }
    }

    .section-subtitle {
        @include section-subtitle;
        text-align: center;
        margin-bottom: 25px;
    }

    .section-text {
        @include section-text;
        max-width: 500px;
        text-align: center;
        margin: auto;
        margin-bottom: 30px;
    }

    .home-btn-group {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    .deco-shape {
        position: absolute;
    }
    .shape-1 {
        top: 14%;
        left: 8%
    }
    .shape-2 {
        top: 600px;
        left: 30px;
    }
    .shape-3 {
        top: 25%;
        right: 0;
    }
    .shape-4 {
        top: 570px;
        right: 110px;
    }
}

.home-left {
    margin-bottom: 60px;
}

.home-left,
.home-right {
    position: relative;
    z-index: 10;
}


.home-right  {

    .img-box {
        position: relative;
        img {
            position: absolute;
        }
        .banner-img {
            position: relative;
            width: auto;
            max-width: 100%;
            margin: auto;
            z-index: 2;
        }
    }

    .background-shape {
        width: auto;
        max-width: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    .icon-1 {
        top: 200px;
        left: 20px;
    }

    

   

    .icon-4 {
        top: 60px;
        right: 20px;
        filter: drop-shadow(0 8px 30px hsla(350, 100%, 68%, 0.5));
    }

    .icon-1, .icon-2, .icon-3, .icon-4 {
        filter: drop-shadow(0 10px 20px hsla(0, 0%, 0%, 0.2));
        z-index: 5;
    }

}

   

.home-left .btn {
    @include btn;
}

/* Hero section header end */