/* Testimonial section start */
.testimonials-section {
    padding: $py $px;
    background: $cultured;

    .testimonials-left {

        .section-subtitle {
            margin-bottom: 15px;
            @include section-subtitle;
        }

        .section-title {
            margin-bottom: 30px;
            @include section-title;
        }

        .section-text {}

    }

    .testimonials-right {
        padding: 50px 15px 0;

        .testimonials-card {
            position: relative;
            background: $white;
            border-radius: 8px;
            padding: 40px;
            box-shadow: 0 15px 30px hsla(0, 0%, 0%, 0.1);

            .quote-img {
                position: absolute;
                bottom: 40px;
                right: 40px;
                z-index: 1;
            }

            .testimonials-text {
                color: $sonic-silver;
                font-family: 'Roboto', sans-serif;
                font-size: $fs-6;
                margin-bottom: 20px;
            }

            .testimonials-client {
                position: relative;
                display: flex;
                align-items: center;
                gap: 20px;
                z-index: 2;

                .client-img-box {
                    border: 2px solid $red-orang;
                    border-radius: 8px;
                    padding: 10px;

                    img {
                        border-radius: 8px;
                    }
                }

                .client-details {

                    .client-name {
                        color: $oxford-blue;
                        font-size: $fs-4;
                        line-height: 1.2;
                        font-weight: $fw-7;
                        margin-bottom: 5px;
                    }

                    .client-title {
                        color: $red-orang;
                        font-size: $fs-6;
                    }
                }
            }
        }
    }
}
/* Testimonial section end */